/* Version: 1.0 */

/*
* Please Include component name before including the CSS
*/

/* [Row] Services Content Grid 1 
https://noto.li/QTgich
*/

.row_services-content-grid_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0 !important;
}

.row_services-content-grid_1 .fl-photo img {
  height: 500px !important;
  width: 100% !important;
  object-fit: cover !important;
  border-radius: var(--default-border-radius) !important;
}

.row_services-content-grid_1 .pp-content-post .pp-post-image .pp-post-title {
  background: transparent !important;
}

.row_services-content-grid_1 h3 {
  color: var(--light) !important;
  font-family: var(--body-font) !important;
  padding-bottom: 50px !important;
  padding-left: 20px !important;
  font-size: 25px !important;
  text-shadow: var(--text-shadow);
}

.row_services-content-grid_1 .pp-content-post {
  padding: 0 !important;
  background: transparent !important;
  border-radius: var(--default-border-radius) !important;
}

.row_services-content-grid_1 .pp-content-post .pp-content-body {
  padding: 0 !important;
}

.row_services-content-grid_1 .pp-content-post a.pp-post-link {
}

/* [ROW] Callout Cards 1 - https://noto.li/9fFKJu
*/

.row_callout-cards_1 .fl-row-content-wrap {
  box-shadow: var(--box-shadow) !important;
  padding: var(--md-padding) !important;
}

.row_callout-cards_1 .fl-col-content {
  background-size: 100% !important;
  padding: var(--default-single-padding) !important;
  margin: var(--default-single-margin) !important;
}

.row_callout-cards_1 h2.fl-heading {
  color: var(--dark) !important;
  text-align: center;
}

.row_callout-cards_1 .fl-heading {
   margin-bottom: 0!important;
}

.row_callout-cards_1 .fl-module-callout .fl-module-content {
  margin: 0 !important;
}

.row_callout-cards_1 .fl-icon {
  margin-top: var(--default-single-margin);
  margin-bottom: 5px;
}

.row_callout-cards_1 .fl-heading * {
  color: var(--secondary-color);
}

.row_callout-cards_1 .fl-callout-title {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.row_callout-cards_1 .fl-callout-title {
  margin-top: 20px !important;
}

.row_callout-cards_1 .fl-callout-title * {
  font-size: 26px !important;
  color: var(--dark) !important;
}

.row_callout-cards_1 .fl-callout p {
  font-size: 15px !important;
  color: var(--dark) !important;
}

.row_callout-cards_1 img {
  width: 40px !important;
  height: 40px !important;
  object-fit: contain !important;
}

.row_callout-cards_1 .fl-callout-content {
  text-align: center;
}

.row_callout-cards_1 .fl-icon,
.row_callout-cards_1 .fl-icon * {
  color: var(--accent-color) !important;
}

.row_callout-cards_1 .fl-icon i:before {
  font-size: 60px;
}

/* [Row] Text - Form Overlap 1 
https://noto.li/uou43I */

.row_text-form-overlap_1 .fl-row-content-wrap {
   padding: var(--lg-padding);
}

.row_text-form-overlap_1 .form-col .fl-col-content {
  margin-top: var(--negative-margin-top)!important;
  box-shadow: var(--box-shadow);
  background: var(--light);
  padding: var(--default-single-padding)!important;
  border-radius: var(--default-border-radius);
  position: relative !important;
  z-index: 99 !important;
}

/* [ROW] FAQ 1 
https://noto.li/c3Rkof */

.row_faq_1 .fl-row-content {
   max-width: var(--xs-width);
}
 
.row_faq_1 .fl-row-content-wrap {
  padding: var(--lg-padding);
}

.row_faq_1 .pp-faq-button {
  background-color: var(--accent-color)!important;
  padding: var(--default-single-padding)!important;
}

.row_faq_1 .pp-faq-button * {
  color: var(--light)!important;
  text-transform: uppercase;
  font-weight: 600;
}

.row_faq_1 .pp-faq-item {
   margin-bottom: var(--default-single-margin)!important;
}

.row_faq_1 .pp-faq-item .pp-faq-content {
  background-color: var(--accent-transp)!important;
  padding: var(--default-single-padding)!important;
}

/*[CTA] Simple Centered 1*/


.cta_simple-centered_1 .fl-row-content {
  max-width: var(--xs-width);
}

.cta_simple-centered_1 .fl-row-content-wrap {
  padding: var(--lg-padding);
}

.cta_simple-centered_1 .fl-row-content-wrap:after {
   background: var(--dark-transp);
}

.cta_simple-centered_1 .fl-heading,
.cta_simple-centered_1 .fl-rich-text *,
.cta_simple-centered_1 .fl-callout-content * {
  text-align: center;
  color: var(--light);
}

.cta_simple-centered_1 .fl-module-rich-text .fl-module-content {
   margin-bottom: 0!important;
}

.cta_simple-centered_1 .fl-button {
   background: var(--accent-color)!important;
}

.cta_simple-centered_1 .fl-button:hover {
	background: var(--dark)!important;
}

.cta_simple-centered_1 .fl-button * {
	color: var(--light)!important;
}

/* Changes color of the button on hover */
.cta_simple-centered_1 .fl-button:hover * {
   background: var(--secondary-color);
}

/* [ROW] Text Left - Image Right -Decoration 1
https://noto.li/1k2GD0 */
.row_text-left_img-right-deco_1 img {
  box-shadow: 75px -75px 0 -30px var(--secondary-color);
}


/* [ROW] Text Right - Image Left Decoration 1
https://noto.li/gKfJ51 */
.row_text-right_img-left-deco_1 img {
  box-shadow: -75px -75px 0 -30px var(--secondary-color);
}

/* [ROW] Title Left - Content Right 1
https://noto.li/yqySM2 */

.row_title-left_content-right_1 .fl-row-content-wrap {
  padding: var(--lg-padding);
}


.row_title-left_content-right_1 .fl-heading,
.row_title-left_content-right_1 .fl-heading * {
  text-align: left !important;
}

/* [ROW] Round Border Shadow 1 */
.row_round-border-shadow_content_1 .fl-row-content-wrap {
  box-shadow: var(--box-shadow);
  border-radius: var(--default-border-radius);
  margin-top: var(--default-large-margin);
  margin-bottom: var(--default-large-margin);
}

.row_round-border-shadow_content_1 .fl-row {
  max-width: var(--fixed-width);
}

/* [ROW] Contact Us 1
https://noto.li/iR2Hft */

.row_contact-us_1 .fl-row-content-wrap {
  padding: var(--lg-padding);
}

.row_contact-us_1 .fl-module-icon  .fl-module-content {
  margin-bottom: 0!important;
}

.row_contact-us_1 .pp-social-icon {
  background: var(--accent-color)!important;
  padding: 10px!important;
  border-radius: 100px!important;
}

.row_contact-us_1 .pp-social-icon:hover {
  background: var(--secondary-color)!important;
}

.row_contact-us_1 .pp-social-icon i {
  color: var(--light)!important;
}

.row_contact-us_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

.row_contact-us_2 .fl-module-icon  .fl-module-content,
.row_contact-us_2 .fl-module-pp-social-icons .fl-module-content,
.row_contact-us_2 .fl-module-rich-text .fl-module-content,
.row_contact-us_2 .fl-module-icon .fl-module-content
 {
  margin-bottom: 0!important;
}


/* [ROW] Contact Us 2
https://noto.li/PXDdtf */

.row_contact-us_2 .fl-row-content-wrap {
  padding: var(--lg-padding);
}

.row_contact-us_2 .fl-module-icon  .fl-module-content,
.row_contact-us_2 .fl-module-pp-social-icons .fl-module-content,
.row_contact-us_2 .fl-module-rich-text .fl-module-content,
.row_contact-us_2 .fl-module-icon .fl-module-content
 {
  margin-bottom: 0!important;
}

.row_contact-us_2 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
  margin-top: 0!important;
}

.row_contact-us_2 .pp-social-icon {

}

.row_contact-us_2 .pp-social-icon:hover {
  background: var(--secondary-color)!important;
}

.row_contact-us_2 .pp-social-icon i {
  color: var(--accent-color)!important;
}

.row_contact-us_2 .phone-number-highlight * {
  color: var(--accent-color)!important;
  font-weight: 700;
  font-size: 50px;
}

/* [ROW] Homepage Link Banner 1
https://noto.li/h3SYGp */
.row_homepage-link-banner_1 .banner-title,
.row_homepage-link-banner_1 .banner-title * {
	font-size: 45px;
  color: var(--light)!important;
}

.row_homepage-link-banner_1 .banner-link,
.row_homepage-link-banner_1 .pp-info-banner-content {
  height: 650px!important;
}

.row_homepage-link-banner_1 .pp-info-banner-bg::before {
	background: var(--gradient)!important;
}

.row_homepage-link-banner_1 .banner-button {
	text-transform: uppercase;
	color: var(--light)!important;
	margin-top: 15px; 
	border-radius: 100px;
	border: 2px solid var(--light);
	padding: 13px 25px;
	font-weight: 700;
}

.row_homepage-link-banner_1 .banner-button:hover {
	background: var(--secondary-color)!important;
	border: 2px solid var(--secondary-color)!important;
}

.row_homepage-link-banner_1 .pp-info-banner-content .pp-info-banner-bg:before {
	background: var(--dark-transp)!important;
}

@media screen and (max-width: 900px) {
	.row_homepage-link-banner_1 .banner-button {
		background: var(--gray-transp)!important;
	  margin: 15px;
  }
}

/* [ROW] Portfolio Titles with Gallery 1
https://noto.li/7QQXlu
*/

.row_portfolio-titles-with-gallery_1 .fl-row-content-wrap {
  padding: var(--lg-padding);
}

.row_portfolio-titles-with-gallery_1 .fl-row-content-wrap:after{
  background: var(--light-transp)
}

.row_portfolio-titles-with-gallery_1 .fl-module-photo .fl-module-content {
  margin-top: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}

.row_portfolio-titles-with-gallery_1 .fl-module-rich-text .fl-module-content {
  margin-bottom: 0!important;
}

.row_portfolio-titles-with-gallery_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}
.row_portfolio-titles-with-gallery_1 .fl-module-pp-gallery .fl-module-content {
  margin-right: 0!important;
  margin-left: 0!important;
}


/* [ROW] Menu Locations 1
https://noto.li/AeHQm8/
*/

.row_menu-locations_1 .fl-row-content-wrap {
  padding: var(--lg-padding);
}

.row_menu-locations_1 .fl-menu a {
	letter-spacing: var(--letter-spacing);
	font-size: 20px;
	text-decoration: underline;
	text-underline-position: under;
	font-weight: 600;
}

.row_menu-locations_1 .fl-menu a:before {
	content: "/ ";
}

.row_menu-locations_1 .fl-module-photo .fl-module-content {
  margin-top: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}

.row_menu-locations_1 .fl-photo {
	border: 2px solid var(--gray);
	padding: 25px 25px 25px 0;
	border-left: 0!important;
}

/* [ROW] CTA Contact Us 1
https://noto.li/oM7sB9  */
.row_cta-contact-us_1 .fl-row-content-wrap:after {
  background: var(--dark-transp)!important;
}

.row_cta-contact-us_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

.row_cta-contact-us_1 .fl-heading,
.row_cta-contact-us_1 .fl-heading *,
.row_cta-contact-us_1 .fl-rich-text * {
  color: var(--light)!important;
}

.row_cta-contact-us_1 .form-col {
  background: var(--light);
  border-radius: var(--default-border-radius);
  box-shadow: var(--box-shadow);
}

/* [ROW] Standard Content + Images 1
https://noto.li/wX2Sct */

.row_standard-content-images_1 .fl-row-content-wrap {
  box-shadow: var(--box-shadow);
}

.row_standard-content-images_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

/* [ROW] Standard Content + Image + Dark Transparency 1
https://noto.li/tRDL4Z
 */

.row_standard-content-images_dark-transp_1 .fl-row-content-wrap {
  box-shadow: var(--box-shadow);
}

.row_standard-content-images_dark-transp_1 .fl-row-content-wrap::after {
  background: var(--dark-transp);
}

.row_standard-content-images_dark-transp_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

.row_standard-content-images_dark-transp_1 .fl-heading,
.row_standard-content-images_dark-transp_1 .fl-heading *,
.row_standard-content-images_dark-transp_1 .fl-rich-text * {
  color: var(--light)!important;
}


/* [ROW] Standard Content 1
https://noto.li/ADZUvl */

.row_standard-content_1 .fl-row-content-wrap {

}

.row_standard-content_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

/* [ROW] Standard Content Callout 1
https://noto.li/USn7SW */

.row_standard-content-callout_1 .fl-row-content-wrap {
  box-shadow: var(--box-shadow);
}

.row_standard-content-callout_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

/* [ROW] CTA Cards 2
https://noto.li/h1FMEC */

.row_cta-cards_2 .fl-row-content-wrap {
  padding: var(--lg-padding)!important;
}

.row_cta-cards_2 .fl-row-content-wrap:after {
  background: var(--light-transp);
}


.row_cta-cards_2 .fl-rich-text * {
  text-align: center;
}

.row_cta-cards_2 .fl-callout {

}


.row_cta-cards_2 .fl-module-callout {
	display: flex;
	height: 100%;
}

.row_cta-cards_2 .fl-module-callout .fl-module-content {
	width: 100%; /* fixes IE11 */
}

.row_cta-cards_2 .fl-callout {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 20px;
}

.row_cta-cards_2 .fl-callout-content,
.row_cta-cards_2 .fl-callout-text-wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.row_cta-cards_2 .fl-callout-text {
	flex-grow: 1;
}

.row_cta-cards_2 .fl-icon i,
.row_cta-cards_2 .fl-icon i:before {
	font-size: 60px!important;
}

.row_cta-cards_2 .fl-callout-title-text {
	padding-top: 20px;
	padding-bottom: 20px;
}

.row_cta-cards_2 .fl-icon i {
	margin: -10px 0px 5px 30px;
	float: left;
	color: var(--accent-color)!important;
}

.row_cta-cards_2 .fl-icon {
	margin: 0 0 20px 0;
	height: 60px;
	width: 60px;
	background: var(--gray);
	border-radius: 100px;
}

.row_cta-cards_2 .fas {

}

@media screen and (max-width: 900px) {
	.row_cta-cards_2 .fl-icon {
		margin: auto!important;
	}
	
	.row_cta-cards_2  .fl-callout-title {
		margin-top: 10px!important;
	}
	
	.row_cta-cards_2  .fl-callout-title,
	.row_cta-cards_2 .fl-callout-content, 
	.row_cta-cards_2 .fl-callout-text-wrap{
		text-align: center!important;
	}
}

/* [ROW] Location List + Map 1
https://noto.li/2ZxQvT */

.row_location-list_map_1 .fl-row-content-wrap::after {
  background: var(--dark-transp)
}

.row_location-list_map_1 .fl-module-heading .fl-module-content {
  margin-bottom: 0!important;
}

.row_location-list_map_1 .fl-heading,
.row_location-list_map_1 .fl-heading *,
.row_location-list_map_1 .fl-rich-text * {
  color: var(--light)!important;
  text-align: center!important;
}

.row_location-list_map_1 .fl-icon {
  color: var(--accent-color)!important;
}