/**
Theme Name: GX Core - Aquaerial Child Theme
Author: GlobalSpex, Inc.
Author URI: https://globalspex.com/wordpress-website-design/
Description: Custom Child Theme by GlobalSpex for Aquaerial
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: globalspex
Template: astra
*/

:root {
   --accent-color: #fd5857;
   --secondary-color: #221c60;
   --tertiary-color: #020d45;
   --dark: #10203A;
   --light: #fff;
   --gray: #f3f1f1;
   --dark-gray: #b5b5b5;
   --green: #00c896;
   --red: #f3616d;
   --letter-spacing: 2px;
   --dark-transp: rgba(0, 0, 0, 0.68);
   --light-transp: rgba(255, 255, 255, 0.78);
   --accent-transp: rgba(253, 88, 87, 0.7);
   --secondary-transp: rgba(34, 28, 96, 0.7);
   --box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.14);
   --text-shadow: 0 0 11px rgba(0, 0, 0, 0.75);
   --dark-gradient: linear-gradient(180deg, transparent 10%, var(--secondary-transp) 50%, var(--dark) 100%);
   --gradient: linear-gradient(90deg, var(--accent-color) 0%, var(--secondary-color) 100%);
   --gradient-transp: linear-gradient(90deg, var(--dark) 40%, var(--dark-transp) 70%, var(--accent-transp) 100%);
   --h1-hero-size: 65px;
   --default-single-padding: 30px;
   --single-lg-padding: 90px;
   --default-single-margin: 10px;
   --default-lg-margin: 130px;
   --default-md-margin: 60px;
   --hero-padding: 260px 30px 180px 30px;
   --lg-col-padding: 120px 70px 130px 120px;
   --lg-padding: 90px 30px 90px 30px;
   --md-padding: 60px 30px 60px 30px;
   --xs-padding: 0 30px 0 30px;
   --zero-padding: 0 !important;
   --negative-margin-top: -150px;
   /* for column/forms/images overlap */
   --default-border-radius: 30px;
   --secondary-border-radius: 15px;
   --xs-width: 850px;
   --md-width: 1000px;
   --fixed-width: 1300px;
   --letter-spacing: 2px
}

.fl-rich-text ul {
   list-style: none;
   margin: 0 0 2.3em 2.5em;
}

.fl-rich-text ul li:before {
   font-family: FontAwesome;
   content: '\f00c';
   /* Choose the icon you want for default lists */
   margin: 0 10px 0 -25px;
   color: var(--accent-color);
}

/* Default Button Styles */
.fl-button {
   padding: 12px 25px !important;
   background: var(--dark);
   border-radius: var(--default-border-radius) !important;
   box-shadow: var(--box-shadow) !important;
   text-align: center;
}

.fl-button * {
   text-transform: uppercase;
   color: var(--light);
   font-weight: 700 !important;
   text-align: center;
}

.gform_button {
   color: var(--light) !important;
   text-transform: uppercase;
   background: var(--accent-color) !important;
   font-weight: 700 !important;
   box-shadow: var(--box-shadow) !important;
   border-radius: var(--default-border-radius) !important;
   padding: 15px 25px !important;
   text-align: center !important;
}

.fl-separator {
   border-radius: var(--default-border-radius);
   border-color: var(--dark-gray) !important;
   width: 20% !important;
}

.lg-button .fl-button {
   padding: 20px 30px !important;
}

.accent-button .fl-button {
   background-color: var(--accent-color) !important;
}

/* HEADER */

header .fl-row-content-wrap {
   box-shadow: none !important;
   padding: 0 !important;
}

.fl-theme-builder-header-scrolled .fl-row-content-wrap {
   background-color: var(--light) !important;
   padding: 0 !important;
   box-shadow: var(--box-shadow) !important;
}

.fl-theme-builder-header-scrolled .top-header {
   display: none !important;
}

.fl-theme-builder-header-scrolled .fl-menu a {
   text-shadow: none !important;
}

.fl-theme-builder-header-scrolled img {
   filter: brightness(0) saturate(100%) invert(15%) sepia(86%) saturate(3039%) hue-rotate(212deg) brightness(52%) contrast(100%) !important;
}

.fl-theme-builder-header-scrolled .pp-advanced-menu-mobile-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner,
.fl-theme-builder-header-scrolled .pp-advanced-menu-mobile-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:before,
.fl-theme-builder-header-scrolled .pp-advanced-menu-mobile-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:after,
.fl-theme-builder-header-scrolled .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
.fl-theme-builder-header-scrolled .fl-menu .fl-toggle-none .fl-menu-toggle:before {
   border-color: var(--dark) !important;
   color: var(--dark) !important;
}

.top-header .fl-row-content-wrap {
   background: var(--dark-transp) !important;
   padding: 5px !important;
}

.top-header .fl-html *:not(font) {
   color: var(--light) !important;
   font-family: "Raleway", sans-serif !important;
   text-align: center !important;
}

.top-header font[color="green"] {
   color: var(--green) !important;
}

.top-header font[color="red"] {
   color: var(--red) !important;
}

header .fl-button {
   border-radius: var(--default-border-radius) !important;
   background: var(--accent-color) !important;
   box-shadow: var(--box-shadow) !important;
}

header .fl-button * {
   color: var(--light) !important;
   font-weight: 600 !important;
   text-transform: capitalize !important;
}

header .fl-menu a {
   text-shadow: var(--text-shadow) !important;
   font-weight: 600 !important;
}

header .sub-menu {
   background: var(--dark) !important;
}

header .sub-menu a {
   color: var(--light) !important;
}

header table,
header table th,
header table td {
   border: none !important;
   padding: 0 !important;
}

header table {
   width: 300px;
}

header table td {
   padding-left: 0 !important;
   max-width: 20px;
}

header .fl-module-html {
   margin-left: 0 !important;
}

.pp-advanced-menu-mobile-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner,
.pp-advanced-menu-mobile-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:before,
.pp-advanced-menu-mobile-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:after {
   background-color: var(--light);
}

/* FOOTER */

footer .fl-row-content {
   max-width: var(--md-width) !important;
}

footer .fl-module-heading,
footer .fl-module-heading .fl-module-content,
footer .fl-module-photo,
footer .fl-module-photo .fl-module-content {
   margin-bottom: 0 !important;
}

footer .fl-module-menu .fl-module-content {
   margin-top: 15px !important;
}

footer .fl-module-icon,
footer .fl-module-icon .fl-module-content {
   margin-top: 10px !important;
}

footer .fl-module-icon i {
   font-size: 30px !important;
}

footer .fl-row-content-wrap {
   padding: var(--lg-padding) !important;
   background: var(--dark);
}

footer .fl-heading *,
footer .fl-heading {
   text-transform: uppercase !important;
   font-weight: 800 !important;
}

footer .pp-social-icons a {
   background: var(--accent-color) !important;
   color: var(--light) !important;
   font-size: 16px !important;
   width: 35px !important;
   height: 35px !important;
}

footer .pp-social-icons a i {
   color: var(--light) !important;
   font-size: 16px !important;
}

footer .fl-icon i,
footer .fl-icon i:before {
   color: var(--accent-color) !important;
}

.subheader .fl-row-content {
   max-width: var(--md-width);
}

.subheader .fl-row-content-wrap {
   padding: var(--hero-padding);
}

.subheader .fl-row-content-wrap:after {
   background: var(--dark-gradient);
}

.subheader .fl-module-heading .fl-module-content,
.subheader .fl-module-rich-text,
.subheader .fl-module-rich-text .fl-module-content {
   margin-top: 10px !important;
   margin-bottom: 0 !important;
}

.subheader .fl-heading *,
.subheader .fl-heading,
.subheader .fl-rich-text * {
   color: var(--light) !important;
   text-align: center !important;
}

.subheader .fl-heading *,
.subheader .fl-heading {
   text-transform: uppercase !important;
   font-size: 40px !important;
   font-weight: 800 !important;
}

.subheader:after {
   height: 50px;
   width: 100%;
   background: var(--gradient);
   border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}


/* Default Form Styles */

.pp-gf-content .gform_wrapper .gfield input,
.pp-gf-content .gform_wrapper select {
   padding: 15px !important;
   height: 55px !important;
   border: 1px solid var(--dark) !important;
   background-color: var(--light) !important;
   color: var(--dark) !important;
}

.pp-gf-content .gform_wrapper .gfield textarea {
   padding: 15px !important;
   border: 1px solid var(--dark) !important;
   background-color: var(--light) !important;
   color: var(--dark) !important;
}

.main-heading.fl-heading,
.main-heading.fl-heading * {
   text-transform: uppercase !important;
   font-weight: 800 !important;
   font-size: 50px !important;
   text-align: center !important;
}

.pp-faq-item .pp-faq-button {
   padding: var(--default-single-padding) !important;
   background: var(--dark) !important;
   border-radius: var(--default-border-radius) !important;
   position: relative;
   z-index: 10;
   padding: 15px 25px !important;
}

.pp-faq-item .pp-faq-button * {
   color: var(--light) !important;
   font-weight: 600 !important;
}

.pp-faq-content {
   background: var(--light) !important;
   margin-top: -20px;
   position: relative;
   padding: var(--default-single-padding) !important;
   width: 98% !important;
   margin: 0 auto !important;
   border-bottom-left-radius: var(--secondary-border-radius) !important;
   border-bottom-right-radius: var(--secondary-border-radius) !important;
}

.text-center * {
   text-align: center !important;
}

/* CUSTOMIZING EXISTING COMPONENT */

.row_callout-cards_1 .fl-row-content-wrap {
   box-shadow: none !important;
   background: var(--gray) !important;
}

@media screen and (max-width: 1200px) {

   .top-header .fl-row-content-wrap {
      padding: 0 !important;
   }

}

@media screen and (max-width: 980px) {
   :root {
      --h1-hero-size: 40px;
      --lg-col-padding: 60px 30px 60px 30px;
      --hero-padding: 280px 30px 140px 30px;
      --lg-padding: 60px 30px 60px 30px;
   }

   header .fl-module {
      margin-bottom: 0 !important;
   }

   header .fl-module-photo,
   header .fl-module-photo .fl-module {
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
   }

   header .fl-module-pp-advanced-menu,
   header .fl-module-pp-advanced-menu .fl-module-content {
      margin-right: 5px !important
   }

   header .pp-advanced-menu-mobile {
      justify-content: end !important;
   }

   header .fl-module-button,
   header .fl-module-button .fl-module {
      margin-top: 30px !important;
   }

   header .fl-photo-img {
      width: 150px !important;
   }

   header .fl-button * {
      font-size: 14px !important;
   }

   .menu-link,
   .menu-link * {
      color: var(--light) !important;
   }

   footer .fl-photo-img {
      width: 200px !important;
   }

   .main-heading.fl-heading,
   .main-heading.fl-heading * {
      font-size: 40px !important;
   }

   .phone-number-highlight .fl-heading,
   .phone-number-highlight .fl-heading * {
      font-size: 30px !important;
   }

}